### Vue template
# gitignore template for Vue.js projects

### Vuejs template
# Recommended template: Node.gitignore

node_modules/
dist/
npm-debug.log
yarn-error.log
.idea/
.vscode/
*.iml
target/
uploads/
backend/target/
backend/uploads/
frontend/node_modules/
frontend/dist/
frontend/.vscode/
*.log
Redis_RabbitMQ_改造学习文档.md
简历与面试表达整理.md
blog.iml
ruyu-blog-doc/
